<div class="jumbotron py-3">
    <h1 class="display-4 text-center"> Grades</h1>
</div>
<div class=" body-content">
<div class="row">
    <div class="col-lg-12">
        <div class="table-wrapper">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Starting Marks  
                    </th>
                    <th>
                        Ending Marks
                    </th>
                    <th>
                        Course
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grade of gradesList">
                    <td>{{grade.Id}}</td>
                    <td>{{grade.Title}}</td>
                    <td>{{grade.StartingMarks}}</td>
                    <td>{{grade.EndingMarks}}</td>
                    <td>{{grade.Course?.Name}}</td>
                    <td (click)="populateForm(grade)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="deleteGrade(grade)"> <button type="button" class="btn btn-danger" [disabled]="!isDeleteable(grade)"
                            data-toggle="tooltip" title={{this.getTooltipForDeleteButton(grade)}}>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-lg btn-info" (click)="openModal(true)"> Add New Grade </button>
    </div>
</div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#gradeModal">Open Modal</button>

<div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="gradeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gradeModalLabel">Add/Update Grade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalButton" data-target="#gradeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-grade-form></app-grade-form>
            </div>

        </div>
    </div>
</div>