
<div class="jumbotron py-1">
  <h1 class="display-4 text-center"> Students</h1>
</div>
<div class=" body-content">
<div class="row">
  <div class="col-lg-12">
    <div class="table-wrapper">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>
            Registeration Number
          </th>
          <th>
             Name
          </th>
          <th>
            Birthday
          </th>
          <th>
             Course
          </th>
          <th>
            Subjects 
          </th>
          <th>
            Grades
          </th>
          <th>
            Total Credit Hours
          </th>
          <th>
            Remaining Credit Hours
          </th>
           <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of service.studentsList">
          <td>{{std.RegisterationNumber}}</td>
          <td>{{std.Name}}</td>
          <td>{{std.Birthday}}</td>
          <td>{{std.Course?.Name}}</td>
          <td>
            <div *ngFor="let subject of std.Subjects; let counter = index">
              <div>
                {{counter+1}}:{{getSubjectName(subject)}}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let subject of std.Subjects; let counter = index">
              <div>
                {{counter+1}}:{{getGrade(subject,std.Id)}}
              </div>
            </div>
          </td>
          <td>{{std.Course?.TotalCreditHours}}</td>
          <td>{{std.Course?.TotalCreditHours-getAvailedCreditHours(std)}}</td>
          <td (click)="updateStudent(std)"> <button type="button" class="btn btn-info">Update</button>
          <td (click)="deleteStudent(std)"> <button type="button" class="btn btn-danger" 
            [disabled]="!isDeleteable(std)"  data-toggle="tooltip" title={{this.getTooltipForDeleteButton(std)}}>Delete</button>
          </td>
        </tr>
      </tbody>  
    </table>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-info" (click)="openModal(true)"> Add New Student </button>
  </div>
</div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#studentModal">Open Modal</button>

<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Add/Update Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
        id="closeModalButton"  data-target="#studentModal">  <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-student-form></app-student-form>
      </div>

    </div>
  </div>
</div>