<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="DBName" value="MagniDB" />
		<add key="ApplicationPoolName" value="Magni CMS" />
		<add key="SiteNameInIIS" value="Magni CMS" />
		<add key="HostName" value="magnicms.com" />
		<add key="Port" value="80" />
		<add key="BindingProtocol" value="http" />
		<add key="IPAddress" value="*" />
		<add key="WebApplicationName" value="MagniCollegeManagementSystem" />
		<add key="ConnectionString" value="Data Source=.; integrated security=true;" />
		<add key="LocalHostIp" value="127.0.0.1" />
		<add key="IISFeaturesToActivate" value=
		     "IIS-WebServerRole,
			 IIS-WebServer,
			 IIS-CommonHttpFeatures,
			 IIS-HttpErrors,
			 IIS-RequestFiltering,
			 IIS-DefaultDocument,
			 IIS-WebSockets,
			 IIS-ApplicationInit,
			 IIS-ASPNET,
			 IIS-ASPNET45" />
		<add key="ConfigurationSteps" value="1,2,3,4,5,6" />
		<!--Above line holds the configuratios to do for the development environment
		1: Windows features activation for the IIS
		2: Creating the DB
		3: Creating applicaiton on IIS
		4: Modifying host file in driver/etc/hosts
		5: Creating a user login on SQL server, to allo IIS app pool, login into DB using Windows Authentication
		6: Launching the configured website
		To complete all the steps, let it have all the value.
		To Complete certain steps, keep the value belonging to that step and remove the other ones.
		Do not add any symbols other than comma and digits between 1 to 6
		-->
	</appSettings>
</configuration>
